html,
body,
#app {
  height: 100%;
}
body {
  background-color: #F8F9FF;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
