html,
body,
#app,
.app-container {
  height: 100%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e2e2e5;
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
